@model ReviewsSite.Models.Musical


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
</head>
<body>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p><a href="/Musical">Back to lobby</a></p>

</body>
</html>