@model IEnumerable<ReviewsSite.Models.Musical> 


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musical Home Site</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Musical/">Lobby</a></li>
            <li><a href="/Review/">Reviews</a></li>
            <li><a href="/Review/Create/">Submit Review</a></li>
            <li><a href="/Musical/Create/">Add a Musical</a></li>
        </ul>
    </nav>
    <header>
        <h1>Broadway Revue</h1>
        <p id="subtitle">This is the one-stop site for all of your musical theatre nonsense!</p>
    </header>
    <main>

        @foreach (var musical in Model)
        {
            <h2><a href="/Musical/Details/@musical.Id">@musical.Title</a></h2>

            <p>Genre: @musical.Genre</p>
            <hr />
        }
        <h2><a href="/Review/">Our Reviews</a></h2>
        <p><a href="/Review/Create">Submit your own review!</a></p>
    </main>
</body>
</html>
