@model IEnumerable<ReviewsSite.Models.Musical> 


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Musical Home Site</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css"/>
</head>
<body>
    <h1>Welcome to the Musical Theatre Review Site!</h1>
    <p>This is the one-stop site for all of your musical theatre nonsense!</p>

    @foreach (var musical in Model)
    {
    <h2><a href="Musical/Details/@musical.Id">@musical.Title</a></h2>

    <p>Genre: @musical.Genre</p>

    }

    <h2><a href="/Review/">Our Reviews</a></h2>
        <section>
            
            <p>Chicago</p>
            <p>Wicked</p>
            <p>Hamilton</p>
            <p>Rent</p>
            <p>Cats</p>
            <p>Jesus Christ Superstar</p>
            <p>The Book of Mormon</p>
            <p>The Lion King</p>
            
        </section>
    <p>Submit your own reviews!</p>
</body>
</html>
