
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Views/Musical/StyleSheet.css" />
</head>
<body>
    <h1>Welcome to the Musical Theatre Review Site!</h1>
    <p>This is the one-stop site for all of your musical theatre nonsense!</p>
    <h2>Our Reviews</h2>
        <section>
            <ul>
                <li>Chicago</li>
                <li>Wicked</li>
                <li>Hamilton</li>
                <li>Rent</li>
                <li>Cats</li>
                <li>Jesus Christ Superstar</li>
                <li>The Book of Mormon</li>
                <li>The Lion King</li>
            </ul>
        </section>
    <p>Submit your own reviews!</p>
</body>
</html>
