@model IEnumerable<ReviewsSite.Models.Review>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/StyleSheet.css" />
</head>
<body>
    @foreach (var review in Model)
    {
        <p>@review.Musical.Title</p>
        <p>@review.Content</p>
        <p>@review.Rating</p>
    }


    <p><a href="/Musical">Back to lobby</a></p>
</body>
</html>