*{
    background-image:url(/Images/TheaterCurtains.png);
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    background-attachment: fixed;
}

body {
    background-color: grey;
}

h2,h3,p{
    text-align:left;
    padding-left:30%;
    padding-right:30%;
}

#ReviewTitle{
    text-align:center;
}

#star{
    width:100px;
}

.StarScale{
    width:150px;
}


